@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: rgba(1, 93, 254, 1);
	background: linear-gradient(135deg, rgba(1, 93, 254, 1), rgba(112, 152, 212, 1));
}

.container {
	width: 750px;
	border: 0;
	border-radius: 5px;
	padding: 20px 20px;
	background: rgb(255, 255, 255);
}

.text-center {
	font-weight: bold;
	font-size: 25px;
}

.container form span {
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 20px;
}

.input-box {
	display: flex;
	position: relative;
}
.button-box {
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn {
	margin-left: 10px;
	color: white;
}
.btn:first-child {
	margin-left: 0;
}
.btn-task {
	margin-bottom: 15px;
}
.form-control {
	width: 80%;
}
.form-control__input {
	margin-bottom: 15px;
}

.task-box {
	width: 100%;
	display: flex;
	position: relative;
	margin-top: 15px;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}

.task-box p {
	margin-bottom: 0;
}

.task-box a {
	padding-top: 10px;
}

.update-task-link,
.delete-task-link {
	border: none;
	background: transparent;
	padding-left: 10px;
	margin-bottom: 10px;
}

.loader-position {
	display: flex;
	justify-content: center;
}
.loader {
	margin-top: 15px;
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.task-list {
	list-style-type: none;
	padding: 0;
}
.task-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.completed {
	text-decoration: line-through;
	color: gray;
}

.errormessage {
	color: red;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
