@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .circle-red {
    @apply m-auto;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
  }
}
