.GameLayout {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 150px;
}

.btnReset {
	margin-top: 20px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	background-color: #783478;
	color: azure;
}
